{
    "openapi": "3.0.1",
    "info": {
      "title": "Codat API",
      "description": "[What's changed in our Swagger](https://docs.codat.io/docs/new-swagger-ui)",
      "version": "v1"
    },
    "servers": [
      {
        "url": "https://api.codat.io",
        "description": "Codat API (Production)"
      }
    ],
    "paths": {
      "/companies": {
        "get": {
          "tags": [
            "Companies"
          ],
          "summary": "All companies",
          "description": "Returns a list of [companies](https://docs.codat.io/docs/core-companies)\r\n\r\nYou can use the `query` and `orderBy` parameters to [filter](https://docs.codat.io/docs/querying-1) and [sort](https://docs.codat.io/docs/ordering-results-1) the results.",
          "operationId": "ListCompanies",
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "List of companies",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.CompanyPagedResponse"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            },
            "404": {
              "description": "No companies match your search term"
            }
          }
        },
        "post": {
          "tags": [
            "Companies"
          ],
          "summary": "Create company",
          "description": "Create a [company](https://docs.codat.io/docs/core-companies)",
          "operationId": "CreateCompany",
          "requestBody": {
            "description": "Details of the company you wish to create.<br/>If you specify a 'platformType', the company will be created with a data connection to that platform.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.AddCompanyModel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Created company",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.Company"
                  }
                }
              }
            },
            "400": {
              "description": "Invalid request body; see validation for more information."
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}": {
        "put": {
          "tags": [
            "Companies"
          ],
          "summary": "Update company",
          "description": "Update a [company](https://docs.codat.io/docs/core-companies)",
          "operationId": "UpdateCompany",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "description": "The ID of the company to update",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Codat.Clients.Api.Client.Contract.Company"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Updated company",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.Company"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        },
        "delete": {
          "tags": [
            "Companies"
          ],
          "summary": "Delete company",
          "description": "Delete a [company](https://docs.codat.io/docs/core-companies).  This is not reversible.",
          "operationId": "DeleteCompany",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Company deleted"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            },
            "404": {
              "description": "Company not found"
            }
          }
        },
        "get": {
          "tags": [
            "Companies"
          ],
          "summary": "Single company",
          "description": "Returns a single [company](https://docs.codat.io/docs/core-companies) by ID",
          "operationId": "GetCompany",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Company",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.Company"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            },
            "404": {
              "description": "Company not found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Infrastructure.Exceptions.CodatErrorMessage"
                  }
                }
              }
            }
          }
        }
      },
      "/companies/{companyId}/connections": {
        "get": {
          "tags": [
            "Connections"
          ],
          "summary": "All connections",
          "description": "Returns a list of [connections](https://docs.codat.io/docs/core-dataconnections)\r\n\r\nYou can use the `query` and `orderBy` parameters to [filter](https://docs.codat.io/docs/querying-1) and [sort](https://docs.codat.io/docs/ordering-results-1) the results.",
          "operationId": "ListConnections",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.DataConnectionPagedResponseModel"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        },
        "post": {
          "tags": [
            "Connections"
          ],
          "summary": "Create connection",
          "description": "Create a [connection](https://docs.codat.io/docs/core-dataconnections)",
          "operationId": "CreateConnection",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.DataConnection"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}": {
        "get": {
          "tags": [
            "Connections"
          ],
          "summary": "Single connection",
          "description": "Returns a single [connection](https://docs.codat.io/docs/core-dataconnections) by ID",
          "operationId": "GetConnection",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.DataConnection"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        },
        "delete": {
          "tags": [
            "Connections"
          ],
          "summary": "Delete connection",
          "description": "Delete a [connection](https://docs.codat.io/docs/core-dataconnections).  This is not reversible.",
          "operationId": "DeleteConnection",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "boolean"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        },
        "patch": {
          "tags": [
            "Connections"
          ],
          "summary": "Disconnect a data source from a company",
          "description": "This revokes a company’s access to a data source, but the data connection is still listed as a part of a company's\r\ndata connection(s). The status value in the request body should be \"Unlinked\" (case sensitive). Data connections\r\ncan only be unlinked if in the Linked or Deauthorized state.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.PatchDataConnectionModel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Company.DataConnection"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/data/all": {
        "post": {
          "tags": [
            "Data - Pull"
          ],
          "summary": "Initiates the process of capturing a new data snapshot for a company",
          "description": "Initiates the synchronisation for all possible data types supported by the linked data sources",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/data/queue/{dataType}": {
        "post": {
          "tags": [
            "Data - Pull"
          ],
          "summary": "Initiates the process of capturing a data snapshot of a specified type for a company",
          "description": "Initiates the synchronisation for a specified data type",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "connectionId",
              "in": "query",
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Data.DataSet"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/data/history": {
        "get": {
          "tags": [
            "Data - Pull"
          ],
          "summary": "Fetch a list of all data snapshots captured for a company",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Data.DataSetPagedResponseModel"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/data/history/{datasetId}": {
        "get": {
          "tags": [
            "Data - Pull"
          ],
          "summary": "Fetch metadata on a single data synchronisation",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "datasetId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Data.DataSet"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/dataStatus": {
        "get": {
          "tags": [
            "Data - Pull"
          ],
          "summary": "Get the status for each datatype",
          "description": "Gets the current status for each datatype the given company has synced",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "additionalProperties": {
                      "$ref": "#/components/schemas/Codat.Public.Api.Models.Data.DataStatus"
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/dataTypes/{dataType}/options": {
        "get": {
          "tags": [
            "Data - Push"
          ],
          "summary": "Gets all available push options for the given data type",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Public.Api.Models.Data.PushOptionsAggregate"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/dataTypes/{dataType}/options/POST": {
        "get": {
          "tags": [
            "Data - Push"
          ],
          "summary": "Gets the POST push options for the given data type",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Push.PushOption"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/dataTypes/{dataType}/options/PUT": {
        "get": {
          "tags": [
            "Data - Push"
          ],
          "summary": "Gets the PUT push options for the given data type",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Push.PushOption"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/options/{dataType}": {
        "get": {
          "tags": [
            "Data - Push"
          ],
          "summary": "Gets the push options for the given data type",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Push.PushOption"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/push": {
        "get": {
          "tags": [
            "Data - Push"
          ],
          "summary": "Gets paged push operation records",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "description": "Company Id",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "description": "Page size",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "description": "Data query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "description": "Order by property (ascending)",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.ObjectPushOperationPagedResponseModel"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/push/{pushOperationKey}": {
        "get": {
          "tags": [
            "Data - Push"
          ],
          "summary": "Gets a single push operation record",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "pushOperationKey",
              "in": "path",
              "description": "",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/System.ObjectPushOperation"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/data/assess/accounts/categories": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets a list of all the Codat standard categories.",
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.AccountCategory"
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/accounts/categories": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Get account categories (suggested and confirmed) for a company connection.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.AccountCategoriesModelPagedResponseModel"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        },
        "patch": {
          "tags": [
            "Assess"
          ],
          "summary": "Updates the categories for all or a batch of accounts for a specific connection.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.PatchAccountCategoriesModel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.AccountCategoriesModel"
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/accounts/{accountId}/categories": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the suggested and/or confirmed category for a specific account.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.AccountCategoriesModel"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        },
        "patch": {
          "tags": [
            "Assess"
          ],
          "summary": "Updates or removes the confirmed category of a specific account.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "accountId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.PatchSingleAccountCategoryModel"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Assess.AccountCategories.Contracts.AccountCategoriesModel"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/assess/dataTypes/{dataType}/dataIntegrity/status": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets match status for a given company and datatype.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataIntegrity.Contracts.Metadata.MatchMetadataResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/assess/dataTypes/{dataType}/dataIntegrity/summaries": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets match summary for a given company and datatype, optionally restricted by a Codat query string.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataIntegrity.Contracts.Summary.MatchSummariesResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/assess/dataTypes/{dataType}/dataIntegrity/details": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets record-by-record match results for a given company and datatype, optionally restricted by a Codat query string.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "dataType",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataIntegrity.Contracts.Details.TransactionDetailsPagedResponse"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/financialMetrics": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets all the available financial metrics for a given company, over one or more periods.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "showMetricInputs",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.Assess.Metrics.Contracts.Models.FinancialMetricsDataSet"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/enhancedProfitAndLoss": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets a fully categorized profit and loss statement for a given company, over one or more period(s).",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/enhancedBalanceSheet": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets a fully categorized balance sheet statement for a given company, over one or more period(s).",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/revenue": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the revenue and revenue growth for a specific company connection, over one or more periods of time.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "periodUnit",
              "in": "query",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/Codat.Assess.CommerceMetrics.Contracts.Enums.PeriodUnit"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/orders": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the order information for a specific company connection, over one or more periods of time.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "periodUnit",
              "in": "query",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/Codat.Assess.CommerceMetrics.Contracts.Enums.PeriodUnit"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/refunds": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the refunds information for a specific company connection, over one or more periods of time.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "periodUnit",
              "in": "query",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/Codat.Assess.CommerceMetrics.Contracts.Enums.PeriodUnit"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/customerRetention": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the customer retention metrics for a specific company connection, over one or more periods of time.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "periodUnit",
              "in": "query",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/Codat.Assess.CommerceMetrics.Contracts.Enums.PeriodUnit"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/commerceMetrics/lifetimeValue": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the lifetime value metric for a specific company connection, over one or more periods of time.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "periodUnit",
              "in": "query",
              "required": true,
              "schema": {
                "$ref": "#/components/schemas/Codat.Assess.CommerceMetrics.Contracts.Enums.PeriodUnit"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/accountingMetrics/marketing": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets the marketing metrics from an accounting source for a given company, over one or more periods of time.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "reportDate",
              "in": "query",
              "required": true,
              "schema": {
                "type": "string",
                "format": "date-time"
              }
            },
            {
              "name": "periodLength",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "numberOfPeriods",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "includeDisplayNames",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            },
            {
              "name": "showInputValues",
              "in": "query",
              "schema": {
                "type": "boolean",
                "default": false
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/data/companies/{companyId}/connections/{connectionId}/assess/subscriptions": {
        "get": {
          "tags": [
            "Assess"
          ],
          "summary": "Gets key metrics for subscription revenue.",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.StandardReporting.Contracts.Report"
                  }
                }
              }
            }
          },
          "security": [
            {
              "CodatLogin": [
                
              ]
            },
            {
              "APIKeyAuth": [
                
              ]
            }
          ]
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/accountTransactions": {
        "get": {
          "tags": [
            "Accounting - Account transactions"
          ],
          "summary": "All account transactions",
          "description": "Returns a list of the [account transactions](https://docs.codat.io/docs/datamodel-accounting-account-transactions) for a company. \r\n\r\nYou can use the `query` and `orderBy` parameters to [filter](https://docs.codat.io/docs/querying-1) and [sort](https://docs.codat.io/docs/ordering-results-1) the results.",
          "operationId": "ListAccountTransactionsPaged",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "page",
              "in": "query",
              "required": true,
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            },
            {
              "name": "pageSize",
              "in": "query",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 100
              }
            },
            {
              "name": "query",
              "in": "query",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "orderBy",
              "in": "query",
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Page of account transactions",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AccountTransactionPagedResponseModel"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/accountTransactions/{accountTransactionId}": {
        "get": {
          "tags": [
            "Accounting - Account transactions"
          ],
          "summary": "Single account transaction",
          "description": "Returns a single [account transaction](https://docs.codat.io/docs/datamodel-accounting-account-transactions) by its ID.",
          "operationId": "GetAccountTransactions",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "accountTransactionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Account transaction",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AccountTransaction"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/bills/{billId}/attachments": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "All attachments bill",
          "description": "Returns a list of the [attachments](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [bill](https://docs.codat.io/docs/datamodel-accounting-bills).",
          "operationId": "ListBillsAttachments",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "billId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/bills/{billId}/attachments/{attachmentId}": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Single bill attachment",
          "description": "Returns the metadata for a single [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [bill](https://docs.codat.io/docs/datamodel-accounting-bills).",
          "operationId": "GetBillsAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "billId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset_Attachment"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/bills/{billId}/attachments/{attachmentId}/download": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Download bill attachment",
          "description": "Download an [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [bill](https://docs.codat.io/docs/datamodel-accounting-bills).",
          "operationId": "DownloadBillsAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "billId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/push/bills/{billId}/attachments": {
        "post": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Create bill attachment",
          "description": "Create an [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [bill](https://docs.codat.io/docs/datamodel-accounting-bills).",
          "operationId": "CreateBillsAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "billId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/customers/{customerId}/attachments": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "All attachments customer",
          "description": "Returns a list of the [attachments](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [customer](https://docs.codat.io/docs/datamodel-accounting-customers).",
          "operationId": "ListCustomersAttachments",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/customers/{customerId}/attachments/{attachmentId}": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Single customer attachment",
          "description": "Returns the metadata for a single [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [customer](https://docs.codat.io/docs/datamodel-accounting-customers).",
          "operationId": "GetCustomersAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset_Attachment"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/customers/{customerId}/attachments/{attachmentId}/download": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Download customer attachment",
          "description": "Download an [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [customer](https://docs.codat.io/docs/datamodel-accounting-customers).",
          "operationId": "DownloadCustomersAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "customerId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/invoices/{invoiceId}/attachments": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "All attachments invoice",
          "description": "Returns a list of the [attachments](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [invoice](https://docs.codat.io/docs/datamodel-accounting-invoices).",
          "operationId": "ListInvoicesAttachments",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/invoices/{invoiceId}/attachments/{attachmentId}": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Single invoice attachment",
          "description": "Returns the metadata for a single [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [invoice](https://docs.codat.io/docs/datamodel-accounting-invoices).",
          "operationId": "GetInvoicesAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset_Attachment"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/invoices/{invoiceId}/attachments/{attachmentId}/download": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Download invoice attachment",
          "description": "Download an [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [invoice](https://docs.codat.io/docs/datamodel-accounting-invoices).",
          "operationId": "DownloadInvoicesAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "attachmentId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/push/invoices/{invoiceId}/attachment": {
        "post": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Create invoice attachment",
          "description": "Create an [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [invoice](https://docs.codat.io/docs/datamodel-accounting-invoices).",
          "operationId": "CreateInvoicesAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "invoiceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success"
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/suppliers/{supplierId}/attachments": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "All attachments supplier",
          "description": "Returns a list of the [attachments](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [supplier](https://docs.codat.io/docs/datamodel-accounting-suppliers).",
          "operationId": "ListSuppliersAttachments",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "supplierId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Codat.DataContracts.Datasets.AttachmentsDataset"
                  }
                }
              }
            },
            "401": {
              "description": "Authentication failed - see [authentication instructions](https://docs.codat.io/docs/authentication-1)"
            },
            "402": {
              "description": "Account limit reached - see [account limits](https://docs.codat.io/docs/environments-1)"
            }
          }
        }
      },
      "/companies/{companyId}/connections/{connectionId}/data/suppliers/{supplierId}/attachments/{attachmentId}": {
        "get": {
          "tags": [
            "Accounting - Attachments"
          ],
          "summary": "Single supplier attachment",
          "description": "Returns the metadata for a single [attachment](https://docs.codat.io/docs/datamodel-accounting-attachments) for a single [supplier](https://docs.codat.io/docs/datamodel-accounting-suppliers).",
          "operationId": "GetSuppliersAttachment",
          "parameters": [
            {
              "name": "companyId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string",
                "format": "uuid"
              }
            },
            {
              "name": "connectionId",
              "in": "path",
              "required": true,
[...]
